:root {
    --logo_size: 64px;
    --sidebar_width: 200px;
    /* overflow: hidden; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #f3f7f6;
}

.sidebar {
    height: 100%;
    width: calc(var(--sidebar_width) - 1px);
    background-color: #b1c3c0;
    float: left;
    text-align: center;
    border-right: 1px solid #000000;
}

.sidebar img {
    margin: 10px;
    height: var(--logo_size);
    width: var(--logo_size);
}

.sidebar button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: inherit;
}

.sidebar button:hover:enabled:not(.active) {
    background-color: #bed2cf;
}

.sidebar button.active {
    background-color: #cadfdc;
}

.content {
    height: 100%;
    width: calc(100% - var(--sidebar_width));
    display: none;
    margin-left: calc(var(--sidebar_width));
    margin-top: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.connection {
    height: 40px;
    margin-right: 10px;
    text-align: right;
    float: right;
}

.connection #connection_status {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
}

.connection button {
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #b1c3c0;
}

.connection button:hover {
    background-color: #bed2cf;
}

.connection button:active {
    background-color: #cadfdc;
}

#debug_window {
    width: 100%;
    height: 100%;
    background-color: #454545;
    font-family: monospace, serif;
    color: white;
    outline: none;
    resize: none;
}

#macro_tools {
    width: 100%;
    height: 48px;
    text-align: right;
}

#macro_tools button {
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    margin: 4px;
    background-color: #b1c3c0;
}

#macro_tools button:hover {
    background-color: #bed2cf;
}

#macro_tools button:active {
    background-color: #cadfdc;
}

#blockly_div {
    width: 100%;
    height: calc(100% - 48px);
    background-color: #ffffff;
}